@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --BLUE: #0ea5e9;
  --GRAY: #e5e7eb;
  --WHITE: #f8fafc;
  --YELLOW: #fbbf24;
  --TEAL: #5eead4;
  --CYAN: #67e8f9;
  --SKY: #38bdf8;
  --VIOLET: #a78bfa;
  --FUSCHIA: #e879f9;
  --PINK: #f472b6;
  --ROSE: #fb7185;
}

body {
  background-color: var(--GRAY);
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 150px;
  grid-template-areas:
    "sidebar  header header header header"
    "sidebar  main main main main"
    "sidebar  main main main main"
    "sidebar  main main main main"
    "sidebar  main main main main"
    "sidebar  main main main main";
}
/* Header style Start here   */
.header {
  background-color: var(--GRAY);
  grid-area: header;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 50% 50%;
  height: 100%;
}

.header img {
  width: 30px;
  height: 30px;
}

.search {
  /* border: 2px solid salmon; */
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
}
.search img {
  width: 25px;
  height: 25px;
}
.search input {
  width: 80%;
  height: 30%;
  border-radius: 10px;
  background-color: var(--GRAY);
}

.notification {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.notification #notification {
  width: 25px;
  height: 25px;
}


.notification p {
  font-size: 1.3rem;
  font-family: Roboto;
}

.userData {
  /* border: 2px solid black; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.userData #second {
  font-size: 2rem;
}

.buttons {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttons button {
  border: none;
  width: 60px;
  background-color: var(--SKY);
  color: var(--WHITE);
  font-weight: bold;
  border-radius: 20px;
  font-size: normal;
  height: 30px;
}
.buttons button:hover {
  cursor: pointer;
}
/* Header Style Ends Here  */

/* Sidebar Styling Start Here   */
.sidebar {
  background-color: var(--GRAY);
  grid-area: sidebar;
  display: grid;
  justify-content: center;
  align-content: space-around;
}

.sidebar a {
  font-family: Roboto;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.dashboard {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dashboard img {
  width: 50px;
}
.userInfo {
  display: grid;
  gap: 1rem;
  /* justify-items: center;
  align-items: center; */
  justify-content: center;
  align-content: center;
}
#home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#history {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#community {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.userInfo img {
  width: 25px;
  height: 25px;
}

.userSupport {
  display: grid;
  justify-content: start;
  align-content: center;
  gap: 1rem;
}
#setting {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#support {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userSupport img {
  width: 35px;
  height: 35px;
}

/* SideBar Styling Ends Here  */

/* Main style start Here  */
.main {
  background-color: white;
  background-color: white;
  grid-area: main;
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-template-areas:
    "main main side1"
    "main main side1"
    "main main side2"
    "main main side2";
}

.main-content {
  grid-area: main;
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: 6fr 6fr;
}
.main-images {
  display: flex;
  gap: 1rem;
  width: 25px;
  height: 25px;
}
.one {
  border-radius: 10px;
  background-color: var(--TEAL);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.two {
  border-radius: 10px;
  background-color: var(--CYAN);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.three {
  border-radius: 10px;
  background-color: var(--PINK);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.four {
  border-radius: 10px;
  background-color: var(--YELLOW);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.five {
  border-radius: 10px;
  background-color: var(--ROSE);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.six {
  border-radius: 10px;
  background-color: var(--FUSCHIA)  ;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.side-content1 {
  background-color: #5eead4;
  border-radius: 10px;
  grid-area: side1;
  display: grid;
  grid-template-columns: 12fr;
  grid-template-rows: 4fr 4fr 4fr;
  padding: 1rem;
}

.side-content2 {
  background-color: var(--CYAN);
  border-radius: 10px;
  grid-area: side2;
  display: grid;
  grid-template: repeat(3,4fr)/12fr;
  justify-items: center;
  padding: 1rem;
}
.side-content2 img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
/* Main Styling Ends Here  */
